
* {
    margin: 0%;
    padding: 0;
}
body{
    /* background-color: rgba(226, 222, 1, 0.719); */
}

body h2{ 
        text-align: center;
        text-decoration:underline;
    }

    body h3{ 
        margin-top:40px;
        text-align: center;
 
    }


   /* navbar */

   .navbar {
    position: fixed;
    z-index: 10000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.616);
    color: white;

}

.brand-title {

    font-size: 1.5rem;
    margin: .5rem;
    margin-left: 20vh;
    color: rgb(23, 218, 218);
    font-size: 30px;
    cursor: pointer;
}

.navbar-links {
    display: none;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.navbar-links li a:hover {
    background-color: rgb(11, 12, 11);
    color: rgb(19, 226, 226);
}

/*toggle button */
.collapsible {
    cursor: pointer;
    padding: 4px;
    background: transparent;
    color: white;
    border: none;
    display: block;
    position: fixed;
    z-index: 10000;
    font-size: 30px;
    display: flex;
    color: white;
}

.collapsible:hover {
    background-color: rgb(11, 12, 11);
    color: rgb(19, 226, 226);
}


  /* mobile section */
  @media (max-width:700px) {

    .brand-title {
        margin-left: 20%;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;

    }

}



/* home page adjust background */

 .imageback img{
     
    /* padding: 15px 0; */
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;

}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: rgb(0, 0, 0);
}

 .content h1 {
 
    font-size: 70px;
    margin-top: 80px;
}

 .content p {

    font-size: 30px;
    margin: 20px auto;
    font-weight:bolder;
    line-height: 30px;
}


/* about us*/
#lastc{
    background: black;
    color: white;
    padding: 20px;
    margin-top: 5px;
  text-align: center;
}

#lastc p{
    padding: 5px;
    font-size: 18px;
   font-family: sans-serif;
    font-weight: bold;
   line-height: 35px;
 
}


/* footer */

footer {
    margin-top: 5px;
    width: 100%;
    background-color:black;
    height: 50px;
}

footer p {
    padding-top: 14px;
    color: white;
    justify-content: center;
    text-align: center;
}
